<% include ../partials/header %>
    <div class="row">
        <h1 style="text-align: center">Create a New Restaurant</h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/restaurants" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Tacos El Norte">
                </div>
                <div class="form-group">
                    <label for="image">Image Url</label>
                    <input class="form-control" type="text" name="image" id="image" placeholder="https://s3-media2.fl.yelpcdn.com/bphoto/WGWval2X7TWRgkzykO0t0Q/ls.jpg">
                </div>
                <div class="form-group">
                    <label for="cost">Cost</label>
                    <input class="form-control" type="text" name="cost" id="cost" placeholder="From $ to $$$$$">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" placeholder="213 S Rand Road">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description" placeholder="Great family restaurant, amazing tacos.">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
            </form>
            <a href="/restaurants">Go Back</a>
        </div>
    </div>
<% include ../partials/footer %>